html,
body,
div,
article,
aside,
details,
footer,
header,
section,
applet,
iframe,
embed,
object,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup blockquote,
p,
pre,
span,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
label,
legend,
fieldset,
form,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
img,
figure,
figcaption,
menu,
nav,
output,
summary,
time,
mark,
canvas,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1em;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans.regular.ttf');
}
@font-face {
  font-family: 'open-sans-bold';
  src: url('../fonts/open-sans.bold.ttf');
}
@font-face {
  font-family: 'open-sans-semibold';
  src: url('../fonts/open-sans.semibold.ttf');
}
@font-face {
  font-family: 'open-sans-light';
  src: url('../fonts/open-sans.light.ttf');
}
@font-face {
  font-family: 'gotham-pro';
  src: url('../fonts/GOTHAPROREG.OTF');
}
body,
p,
li {
  font-size: 14px;
  font-family: 'open-sans';
  line-height: 1.3;
  color: #000000;
}
h1 {
  font-size: 46px;
  font-family: 'gotham-pro';
}
h2 {
  font-size: 30px;
}
h5 {
  font-size: 17px;
  font-family: 'open-sans-semibold';
}
.light_font {
  font-family: 'open-sans-light';
}
.medium_font {
  font-family: 'open-sans-bold';
}
.bold_font {
  font-family: 'open-sans-semibold';
}
.base_font_size {
  font-size: 14px;
}
.medium_font_size {
  font-size: 16px;
}
a {
  cursor: pointer;
}
a.base {
  color: #2b9fd8;
  text-decoration: none;
}
.up {
  text-transform: uppercase;
}
.page_heading * {
  color: #2b9fd8;
}
div {
  box-sizing: border-box;
}
.clearfix::after,
.block_wrapper::after {
  content: '';
  display: table;
  clear: both;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.block_wrapper {
  width: 100%;
}
div[class*="grid"] {
  float: left;
}
.grid_1 {
  width: 8.33333333%;
}
.grid_2 {
  width: 16.66666667%;
}
.grid_3 {
  width: 25%;
}
.grid_4 {
  width: 33.33333333%;
}
.grid_5 {
  width: 41.66666667%;
}
.grid_6 {
  width: 50%;
}
.grid_7 {
  width: 58.33333333%;
}
.grid_8 {
  width: 66.66666667%;
}
.grid_9 {
  width: 75%;
}
.grid_10 {
  width: 83.33333333%;
}
.grid_11 {
  width: 91.66666667%;
}
.grid_12 {
  width: 100%;
}
.offset_1 {
  margin-left: 8.33333333%;
}
.offset_2 {
  margin-left: 16.66666667%;
}
.offset_3 {
  margin-left: 25%;
}
.offset_4 {
  margin-left: 33.33333333%;
}
.offset_5 {
  margin-left: 41.66666667%;
}
.offset_6 {
  margin-left: 50%;
}
.offset_7 {
  margin-left: 58.33333333%;
}
.offset_8 {
  margin-left: 66.66666667%;
}
.offset_9 {
  margin-left: 75%;
}
.offset_10 {
  margin-left: 83.33333333%;
}
.offset_11 {
  margin-left: 91.66666667%;
}
.offset_12 {
  margin-left: 100%;
}
@media screen and (max-width: 1150px) {
  .md_grid_5 {
    width: 41.66666667%;
  }
  .md_grid_7 {
    width: 58.33333333%;
  }
  .md_grid_6 {
    width: 50%;
  }
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: center;
}
.align_right {
  text-align: center;
}
.sprite_payment {
  background: url(../img/sprite_payment.png) no-repeat;
  display: block;
}
.sprite_payment.sprite-alfa {
  background-position: -5px -5px;
  width: 23px;
  height: 35px;
}
.sprite_payment.sprite-bez {
  background-position: -38px -5px;
  width: 111px;
  height: 34px;
}
.sprite_payment.sprite-master_card {
  background-position: -38px -49px;
  width: 52px;
  height: 35px;
}
.sprite_payment.sprite-sb {
  background-position: -5px -94px;
  width: 100px;
  height: 28px;
}
.sprite_payment.sprite-terminal {
  background-position: -5px -132px;
  width: 146px;
  height: 33px;
}
.sprite_payment.sprite-visa {
  background-position: -100px -49px;
  width: 71px;
  height: 23px;
}
.sprite_payment.sprite-webmoney {
  background-position: -159px -5px;
  width: 116px;
  height: 30px;
}
.sprite_payment.sprite-yandex {
  background-position: -181px -45px;
  width: 118px;
  height: 38px;
}
.sprite_arrow {
  background-image: url('../img/sprite_arrow.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_arrow.sprite-array_left {
  background-position: -5px -5px;
  width: 18px;
  height: 32px;
}
.sprite_arrow.sprite-arrow_right {
  background-position: -33px -5px;
  width: 18px;
  height: 32px;
  display: inline-block;
}
.no_marker {
  padding-left: 0;
}
.no_marker li {
  list-style: none;
}
.list_inline li {
  display: inline-block;
}
.base_shadow {
  box-shadow: 0px 0px 16px 1px #ebebeb;
  -webkit-box-shadow: 0px 0px 16px 1px #ebebeb;
  -moz-box-shadow: 0px 0px 16px 1px #ebebeb;
  -o-box-shadow: 0px 0px 16px 1px #ebebeb;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.base_shadow:hover {
  box-shadow: 0px 16px 20px 1px #dedede;
  -webkit-box-shadow: 0px 16px 20px 1px #dedede;
  -moz-box-shadow: 0px 16px 20px 1px #dedede;
  -o-box-shadow: 0px 16px 20px 1px #dedede;
}
.button {
  cursor: pointer;
  outline: none;
  border: none;
  height: 45px;
  font-weight: 400;
  font-family: 'open-sans';
  font-size: 16px;
  padding: 11px;
  -webkit-appearance: none;
}
.button.base {
  background: #2b9fd8;
  color: #ffffff;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.button.base:hover {
  background: #41a9dc;
}
.button.transparent {
  background: transparent;
  border: 1px solid #2b9fd8;
  color: #2b9fd8;
  height: 44px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.button.transparent:hover {
  background: #2b9fd8;
  color: #ffffff;
}
.button.red {
  background: #e2353b;
  color: #ffffff;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.button.red:hover {
  background: #e54b51;
}
.button.medium {
  width: 195px;
}
.button.small {
  width: 105px;
}
.button.large {
  width: 310px;
  font-size: 14px;
  height: 60px;
  font-family: 'open-sans-semibold';
}
input.base_input {
  outline: none;
  padding: 15px;
  height: 45px;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
input.base_input::-webkit-input-placeholder {
  color: #000000;
  font-size: 14px;
}
input.base_input::-moz-placeholder {
  color: #000000;
  font-size: 14px;
}
input.base_input:-moz-placeholder {
  color: #000000;
  font-size: 14px;
}
input.float_input {
  background: #f6f6f6;
  border: none;
}
input.medium {
  width: 270px;
}
@media screen and (max-width: 1430px) {
  input.medium {
    width: 216px;
  }
}
.decor_border {
  position: relative;
}
.decor_border::before {
  content: '';
  display: block;
  width: 32px;
  height: 2px;
  background: #2b9fd8;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.triangle_right::after {
  border: 7px solid transparent;
  border-left: 10px solid #2b9fd8;
}
.create_row {
  background: #f6f6f6;
  margin: 60px 0;
  padding: 45px 50px 40px 50px;
  height: 270px;
  text-align: center;
}
.create_row .heading {
  margin-bottom: 30px;
}
.create_row .text_content {
  margin-bottom: 30px;
}
.pagination_block {
  padding: 40px 0 30px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.pagination_block .pagination ul li {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.pagination_block .pagination ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-family: 'open-sans-semibold';
}
.pagination_block .pagination ul li.active {
  border: 1px solid #2b2b2b;
}
.pagination_block .pagination ul li.active a {
  color: #2b9fd8;
}
.pagination_block .pagination ul li.arrow_icon {
  display: inline-block;
  vertical-align: middle;
}
.pagination_block .pagination ul li.arrow_icon.left {
  margin-right: 20px;
  text-align: center;
}
.pagination_block .pagination ul li.arrow_icon.right {
  margin-left: 20px;
  text-align: center;
}
.sidebar {
  position: fixed;
  min-height: 100%;
  background: #f6f6f6;
  float: left;
  width: 17%;
  padding-top: 40px;
}
.sidebar::after {
  content: '';
  display: table;
  clear: both;
}
.sidebar::after {
  content: '';
  display: table;
  clear: both;
}
.sidebar .list_heading {
  padding-left: 45px;
  margin-bottom: 15px;
}
.sidebar .templates_list li {
  padding: 15px 0 15px 45px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  position: relative;
}
.sidebar .templates_list li:hover {
  background: #2b9fd8;
  color: #ffffff;
}
.sidebar .templates_list li::after {
  position: absolute;
  left: 100%;
  top: 36%;
  content: '';
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  border: 7px solid transparent;
  border-left: 10px solid #2b9fd8;
}
.sidebar .templates_list li::after::after {
  border: 7px solid transparent;
  border-left: 10px solid #2b9fd8;
}
.sidebar .templates_list li:hover::after {
  opacity: 1;
}
.sidebar .templates_list li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.sidebar .templates_list li:hover a {
  color: #ffffff;
}
@media screen and (max-width: 1400px) {
  .sidebar .list_heading {
    padding-left: 25px;
  }
  .sidebar .templates_list li {
    padding-left: 25px;
  }
}
.after_sidebar {
  width: 17%;
  float: left;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
main {
  height: 100%;
}
.main_wrapper {
  padding: 40px 60px 0 60px;
  float: left;
  width: 83%;
}
.main_wrapper .page_heading {
  margin-bottom: 35px;
}
.main_wrapper::after {
  content: '';
  display: table;
  clear: both;
}
.main_wrapper::after {
  content: '';
  display: table;
  clear: both;
}
.main_wrapper .sort_row {
  margin-bottom: 45px;
}
.main_wrapper .sort_row .site_category_list ul li {
  padding: 12px 25px;
}
.main_wrapper .sort_row .site_category_list ul li a {
  font-size: 16px;
  font-family: 'open-sans-semibold';
  text-decoration: none;
  color: #000000;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.main_wrapper .sort_row .site_category_list ul li a:hover {
  color: #2b9fd8;
}
.main_wrapper .sort_row .site_category_list ul li.active {
  border: 1px solid #2b2b2b;
}
.main_wrapper .sort_row .site_category_list ul li.active a {
  color: #2b9fd8;
}
.main_wrapper .sort_row .search {
  padding-left: 20px;
}
.main_wrapper .sort_row .search .button {
  margin-left: -4px;
}
.main_wrapper .templates_block .template_item {
  margin-bottom: 35px;
  padding: 0 20px;
}
.main_wrapper .templates_block .template_item .thumb {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.main_wrapper .templates_block .template_item .thumb img {
  width: 100%;
  height: auto;
  min-height: 100%;
}
.main_wrapper .templates_block .template_item .thumb .overlay_block {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  background: rgba(255, 255, 255, 0.9);
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_wrapper .templates_block .template_item .thumb .overlay_block .button {
  margin-bottom: 20px;
}
.main_wrapper .templates_block .template_item .thumb:hover .overlay_block {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  opacity: 1;
}
@media screen and (max-width: 1380px) {
  .main_wrapper .templates_block .template_item .thumb {
    height: 250px;
  }
}
@media screen and (max-width: 1250px) {
  .main_wrapper .templates_block .template_item .thumb {
    height: 200px;
  }
}
.main_wrapper .templates_block .template_item .heading {
  text-align: center;
  padding: 30px 0;
}
.main_wrapper .pagination_block .text_block {
  padding-right: 40px;
}
.main_wrapper .pagination_block .text_block p {
  line-height: 1.8;
}
.main_wrapper .text_panel p {
  line-height: 1.8;
}
.main_wrapper .text_panel .text_description {
  margin-bottom: 50px;
  padding-right: 50px;
}
.main_wrapper .text_panel .text_heading {
  margin-bottom: 40px;
  text-align: center;
}
.main_wrapper .text_panel .text_content {
  margin-top: 50px;
}
.main_wrapper .text_panel .font_bold {
  padding: 0 60px;
}
@media screen and (max-width: 1571px) {
  .main_wrapper {
    padding: 40px 30px 0 30px;
  }
  .main_wrapper .sort_row .search {
    padding-left: 0;
  }
}
