footer {
  box-sizing: border-box;
  background: @footerBackground;
  &.mobile_footer {
    height: @mobileFooterHeight;
    padding-top: 60px;
    .text_block {
      margin-bottom: 60px;
      * {
        color: @footerColor;
        font-size: @baseFontSize + 2;
      }
    }
    .social_icon {

    }
  }
}