.sidebar {
  position: fixed;
  @leftPadding: 45px;
  @rightPadding: 0;
  @bottomPadding: 15px;
  @padding: @bottomPadding @rightPadding @bottomPadding @leftPadding;
  min-height: 100%;
  background: @backgroundGray;
  float: left;
  width: 17%;
  padding-top: 40px;
  .clearfix();
  .list_heading {
    padding-left: @leftPadding;
    margin-bottom: @bottomPadding;
  }
  .templates_list {
    li {
      padding: @padding;
      .transparent_button_hover();
      .triangle_hover();
      a {
        text-decoration: none;
        color: @black;
        font-size: @baseFontSize + 1;
        .transition();
      }
      &:hover {
        a {
          color: @white;
        }
      }
    }
  }
  @media screen and (max-width: 1400px) {
    .list_heading {
      padding-left: @leftPadding - 20;
    }
    .templates_list {
      li {
        padding-left: @leftPadding - 20;
      }
    }
  }
}
.after_sidebar {
  width: 17%;
  float: left;
}