body,
p,
li {
  font-size: @baseFontSize;
  font-family: @baseFont;
  line-height: @baseLineHeight;
  color: @black;
}

h1 {
  font-size: @h1FontSize;
  font-family: @h1Font;
  @media screen and (max-width: @xsScreen) {
    font-size: @xsH1FontSize;
  }
}
h2 {
  font-size: @h2FontSize;
  @media screen and (max-width: @xsScreen) {
    font-size: @mobileH2FontSize;
  }
  @media screen and (max-width: 400px) {
    font-size: @mobileH2FontSize * 0.7;
  }
}
h5 {
  font-size: @h5FontSize;
  font-family: @boldFont;
}



.light_font {
  font-family: @lightFont;
}
.medium_font {
  font-family: @mediumBold;
}
.bold_font {
  font-family: @boldFont;
}

.base_font_size {
  font-size: @baseFontSize;
}
.medium_font_size {
  font-size: @mediumFontSize;
}
.gotham_light {
  font-family: @gothamLight;
}


a {
  cursor: pointer;
  &.base {
    color: @baseColor;
    text-decoration: none;
  }
}

.up {
  text-transform: uppercase;
}

.page_heading {
  * {
    color: @baseColor;
  }
  &.big_margin {
    padding: 50px 0;
  }
  &.with_back_link {
   .wrapper {
     position: relative;
     padding-left: 25px;
   }
    .align();
    .back_link {
      position: absolute;
      left: 0;
    }
  }
}
