main {
  .page_heading {
    padding: 30px 0;
  }
  .mobile_category {
    margin-bottom: 35px;
    padding: 40px 0;
    background: @backgroundGray;
    .mobile_category_list {
      margin-bottom: 25px;
      ul {
        li {
          border: 1px solid @grayBorder;
          float: left;
          width: 25%;
          height: 65px;
          box-sizing: border-box;
          padding-left: 5px;
          a {
            line-height: 1;
            font-family: @boldFont;
            text-decoration: none;
            color: @black;
            .link_hover();
            font-size: @baseFontSize + 2;
          }
          &.active {
            border-color: @black;
            a {
              color: @baseColor;
            }
          }
        }
      }
      @media screen and (min-width: 600px) and (max-width: @smScreen) {
        ul {
          li {
            a {
              font-size: @baseFontSize + 4;
            }
          }
        }
      }
      @media screen and (min-width: 375px) and (max-width: 599px) {
        ul {
          li {
            a {
              font-size: @baseFontSize - 2;
              }
            }
          }
        }
      @media screen and (max-width: 374px) {
        ul {
          li {
            a {
              font-size: @baseFontSize - 3;
            }
          }
        }
      }
      }
    }
  .select {
    @media screen and (max-width: 386px) {
      .select_content {
        .select_list {
          li {
            a {
              font-size: @baseFontSize - 5;
            }
          }
        }
      }
    }
  }
  .search {
    input.base_input {
      width: 70%;
    }
    button.base {
      width: 30%;
    }
    margin-bottom: 30px;
  }
  .mobile_template_list {
    margin-bottom: 50px;
    .mobile_template_item {
      margin-bottom: 50px;
      .item_thumb {
        margin-bottom: 25px;
        overflow: hidden;
      }
      .item_heading {
        color: @baseColor;
        margin-bottom: 25px;
        .align();
      }
      .item_actions {
        .button {
          height: 55px;
          width: 48%;
          @media screen and (max-width: 380px) {
            font-size: @baseFontSize - 2;
          }
        }
      }
    }
  }
  .pagination_block {
    .block_wrapper {
      padding: 0;
    }
    padding: 0;
    border: none;
    .pagination {
      ul {
        .align();
        @media screen and (min-width: 551px) and (max-width: @smScreen) {
          li {
            width: 60px;
            height: 60px;
          }
        }
        @media screen and (min-width: 470px) and (max-width: 550px) {
          li {
            width: 50px;
            height: 50px;
          }
        }
        @media screen and (max-width: 386px) {
          li {
            width: 30px;
            height: 30px;
          }
        }
      }
      padding: 25px 20px;
      border-top: 1px solid @grayBorder;
      border-bottom: 1px solid @grayBorder;
      li {
        &.arrow_icon {
          display: inline-flex;
          &.left {
            margin-right: 0;
          }
          &.right {
            margin-left: 0;
          }
        }
        a {

        }
      }
    }
    .text_block {
      padding: 50px 30px;
      p {
        font-size: @baseFontSize + 2;
      }
    }
  }
  &.item_page {
    .page_heading {
      margin-top: 30px;
    }
    .mobile_template_item {
      .item_actions {
        margin-top: 50px;
      }
    }
  }
  .seo_text {
    margin-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid @lightBorderColor;
    .heading {
      margin-bottom: 30px;
      .align();
    }
    .text_block {
      p {
        line-height: @mediumLineHeight;
        font-size: @baseFontSize + 4;
        margin-bottom: 45px;
      }
    }
  }
  .mobile_template_slide {
    background: @lightGray;
  }
  &.main_page {
    .top_banner {
      padding: 30px 0;
      background: @lightGray;
      .picture {
        margin-bottom: 50px;
      }
      .text {
        p {
          font-size: 22px;
          line-height: @mediumLineHeight;
        }
        margin-bottom: 30px;
      }
      .create {
        padding-bottom: 45px;
        .button {
          margin-bottom: 30px;
        }
        p {
          font-size: 22px;
          line-height: @mediumLineHeight;
        }
        border-bottom: 1px solid @grayBorder;
      }
      .site_count {
        padding-top: 20px;
        .align();
      }
    }
    .site_harmonyc {
      padding: 45px 0 60px 0;
      .heading {
        padding-bottom: 35px;
      }
      .harmonyc {
        margin-bottom: 30px;
      }
      .text {
        p {
          font-size: @baseFontSize + 2;
          line-height: @mediumLineHeight;
          margin-bottom: 30px;
        }
      }
    }
    .create_slide {
      padding: 50px 0 80px 0;
      background: @footerBackground;
      .heading {
        margin-bottom: 35px;
        h2 {
          color: @white;
        }
      }
      .carousel {
        .item {
          img {
            margin-bottom: 30px;
            .margin_align();
          }
          h5 {
            color: @white;
            .align();
          }
        }
      }
    }
    .review_slider {
      margin-bottom: 70px;
      padding: 90px 0 70px 0;
      .heading {
        margin-bottom: 20px;
      }
      .carousel {
        .item {
          .user_avatar {
            margin-bottom: 20px;
            .clearfix();
            img {
              .margin_align();
            }
          }
          .user_name {
            font-size: @baseFontSize + 2;
          }
          .user_email {
            font-size: @baseFontSize + 2;
          }
        }
        .review_content {
          padding-top: 70px;
          position: relative;
          p {
            font-size: @baseFontSize + 2;
            line-height: @mediumLineHeight;
          }
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 25px;
            position: absolute;
            top: 25px;
            left: 0;
            background: url('../img/char.png') no-repeat center center;
          }
        }
        .carousel-indicators {
          li {
            border-color: @baseColor;
            &.active {
              background: @baseColor;
            }
          }
        }
      }
    }
    .advantage {
      padding: 65px 0;
      background: @baseColor;
      color: @white;
      .heading {
        margin-bottom: 50px;
      }
      .advantage_list {
        margin-bottom: 30px;
        .item {
          & > .block_wrapper {
            padding: 0;
          }
          margin-bottom: 25px;
        }
        .text {
          padding-top: 5px;
          p {
            color: @white;
            font-size: @baseFontSize + 4;
          }
        }
      }
      .create_button {
        .button {
          height: 90px;
          font-size: @baseFontSize + 5;
        }
      }
    }
    .about_hosting {
      padding: 80px 0 20px 0;
      background: @lightGray;
      .heading {
        margin-bottom: 30px;
      }
      img {
        .margin_align();
      }
      .text {
        margin-top: 40px;
        p {
          font-size: @baseFontSize + 2;
          line-height: @mediumLineHeight;
          margin-bottom: 25px;
        }
      }
    }
    .bottom_contacts {
      padding: 70px 0;
      h3 {
        font-size: 24px;
      }
      span {
        font-size: @baseFontSize + 4;
      }
      .grid_12 {
        margin-top: 40px;
      }
    }
  }
}